<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset='utf-8' />

    <title>
        {% block title %}{% endblock %}
    </title>

    {% block css %}
    <!-- Stylesheets -->
    <link rel='stylesheet' href={{ url_for('static', filename='assets/css/header.css') }} />
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto+Condensed" rel="stylesheet">
    <link rel='stylesheet' href="{{ csspath }}" />

    {% endblock %}

    {% endblock %}
</head>

<body>
    {% block content %}
    {% endblock %}
</body>

{% block js %}
    <script src="{{ jspath }}"></script>
{% endblock %}
</html>