{% extends "base.html" %}

{% block title %}
BakerRipley Calendar of Events
{% endblock %}

{% block css %}
	{{ super() }}
	<link rel='stylesheet' href={{ url_for('static', filename='node_modules/fullcalendar/dist/fullcalendar.css') }} />
	<link rel='stylesheet' href={{ url_for('static', filename='assets/css/fullcalendar-custom.css') }} />
	<script src={{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}></script>
	<script src={{ url_for('static', filename='node_modules/moment/moment.js') }}></script>
	<script src={{ url_for('static', filename='node_modules/fullcalendar/dist/fullcalendar.min.js') }}></script>
	<script src={{ url_for('static', filename='node_modules/fullcalendar/dist/gcal.js') }}></script>
{% endblock %}


{% block content %}

	{% set title = "Event Calendar" %}
	{% set description = "Connect with others in your local community." %}
	{% include 'header.html' %}

	<div class="row" id="video">
		<div class="embed-responsive embed-responsive-16by9 col-sm-8 offset-md-2" >	
			<iframe class="embed-responsive-item" allowfullscreen src="https://www.youtube.com/embed/dSVLrFeDbYo">
			</iframe>
		</div>
	</div>

	<div class="row" id="calendarRow">
		<div class="col-md-9">
			<div id='calendar'></div>
		</div>
		<div class="col-md-3" id="eventCol">
			<div id='event-info'>
				<div id='title'> </div>
				<div id='dateTime'></div>
				<div id='location'></div>
				<div id='description'></div>
			</div>
		</div>
	</div>

{% block js %}
	<script src={{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}></script>
    <script src={{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}></script>
	<script src={{ url_for('static', filename='node_modules/moment/moment.js') }}></script>
	<script src={{ url_for('static', filename='node_modules/fullcalendar/dist/fullcalendar.min.js') }}></script>
	<script src={{ url_for('static', filename='node_modules/fullcalendar/dist/gcal.js') }}></script>
	{{ super() }}
{% endblock %}


{% endblock %}
