{% extends "base.html" %}

{% block title %}
Baker Ripley Calendar of Events
{% endblock %}

{% block css %}
	{{ super() }}
	<link rel='stylesheet' href={{ url_for('static', filename='node_modules/fullcalendar/dist/fullcalendar.css') }} />
	<link rel='stylesheet' href={{ url_for('static', filename='assets/css/fullcalendar-custom.css') }} />
	<script src={{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}></script>
	<script src={{ url_for('static', filename='node_modules/moment/moment.js') }}></script>
	<script src={{ url_for('static', filename='node_modules/fullcalendar/dist/fullcalendar.min.js') }}></script>
	<script src={{ url_for('static', filename='node_modules/fullcalendar/dist/gcal.js') }}></script>

 
{% endblock %}


{% block content %}


<div id='wrapper'>
	<div id='header'>
		header
	</div>
	<div id='video'>
		video
	</div>
	<div id='calendar'></div>
	<div id='event-info'>
		<div id='title'> </div>
		<div id='dateTime'></div>
		<div id='location'></div>
		<div id='description'></div>

	</div>
</div>



{% endblock %}
