{% extends "base.html" %}

{% block title %}
BakerRipley Dementia Resource
{% endblock %}

{% block css %}
    {{ super() }}
    <link rel='stylesheet' href={{ url_for('static', filename='assets/css/general-resource.css') }} />
{% endblock %}

{% block content %}

{% set title = "Dementia" %}
{% include 'header.html' %}

<div class="resource-intro-container">
    <p class="resource-intro-text">
        Caring for someone with dementia can be a difficult task. We’ve designed this resource page to provide you with a some tools to help on your journey. The page contains education presentations, information on local support groups, steps to getting a diagnosis and more.
    </p>
</div>
<div class="fake-media"></div>
<div class="resource-content-container">
    <h1>Education</h1>
    <p>
         The Alzheimer’s Association Houston and Southeast Texas Chapter is a wonderful resource for education on dementia. You can access dementia presentations with topics ranging from identifying the signs and symptoms to communicating with someone with dementia 24 hours a day. <a href="http://training.alz.org/">See here</a> for more information.
    </p>
    <h1>Support for the Person with Dementia</h1>
    <p>
        Houston has several programs that are designed to promote socialization and engagement for people with dementia. Some of these programs can also be used as <a href="/resource/respite">respite</a> for the caregiver.  
    </p>
    <p>
        <strong>
            The Alzheimer’s Association
        </strong>
        provides <a href="https://www.alz.org/texas/in_my_community_16084.asp">Early Stage Programming</a> for individuals in the beginning stages of Alzheimer’s disease. The programming ranges from education workshops to creative activities. 
    </p>
    <p>
        <strong>
            BakerRipley Adult Day Center
        </strong>
        provides socialization and engagement for individuals with dementia. Click here to learn more about eligibility requirements and scheduling a tour.
    </p>
        <p>
        <strong>
            CarePartners
        </strong>
        provides free volunteer run socialization activities for individuals with dementia throughout the Houston Metro Area.  The hours and days offered vary by location. Click here to learn more about the criteria to attend gatherings. 
    </p>
    <h1>Support for the Caregiver</h1>
    <p>
        <strong>
            BakerRipley Caregiver Support Services:
        </strong>
       In addition to this website, BakerRipley offers a variety of caregiver support services. Click here for a complete list of these resources.
    </p>
    <p>
        <strong>
            Support Groups:
        </strong>
        The Alzheimer’s Association offers over 52 support groups. Click <a href="http://www.communityresourcefinder.org/">here</a> to locate one near you.
    </p>
        <p>
        <strong>
            Education Seminars
        </strong>
        are hosted by a variety of agencies in the Houston Metro area. Visit <a href="/calendar">the calendar</a> to find one near you.
    </p>
    <h1>Getting a Diagnosis</h1>
    <p>
        The Alzheimer’s Association provides an overview of the steps to getting a diagnosis, local diagnostic centers and an interactive tour of what to expect when being assessed. Click <a href="https://www.alz.org/alzheimers_disease_diagnosis.asp">here</a> to learn more.
    </p>
</div>


{% endblock %}
