{% extends "base.html" %}

{% block title %}
Baker Ripley Calendar of Events
{% endblock %}

{% block content %}

<div class="homepage" style="background-image: url('field.jpeg')">
  <div class="homepage__content">
    <h1>Baker Ripley</h1>
    <h2> Helping you find community and access resources when you need them </h2>
    <div class = "navigation-container">
    	<a class="nav" href="/calendar">
            <img src="/static/img/calendar.png" style="border: 0; float: left; margin-right: 15px; width :40%; height: 85%;" /> 
            <span> Calendar of Events </span>
    	</a>
    	<a class="nav" href="">
            <img src="/static/img/business-deal.png" style="border: 0; float: left; margin-right: 15px; width :40%; height: 85%;" /> 
            <span> Connections </span>
    	</a> 
    	<a class="nav" href="/assessment">
            <img src="/static/img/checklist.png" style="border: 0; float: left; margin-right: 15px; width :40%; height: 75%;" /> 
            <span> Caregiver Assessment Tool </span>
    	</a> 
    	<a class="nav" href="/news">
            <img src="/static/img/news.png" style="border: 0; float: left; margin-right: 15px; width :40%; height: 75%;" /> 
            <span> Updates/News </span>
    	</a> 
    	<a class="nav" href="">
            <img src="/static/img/search.png" style="border: 0; float: left; margin-right: 15px; width :40%; height: 75%;" /> 
            <span> Local Resource Finder </span>
    	</a> 
    	<a class="nav" href="/nationalresources">
            <img src="/static/img/heart.png" style="border: 0; float: left; margin-right: 15px; width :40%; height: 75%;" /> 
            <span> National Caregiving Resources </span>
    	</a>  
    </div>
  </div>  
</div>

{% endblock %}


