{% extends "base.html" %}

{% block title %}
BakerRipley Homepage
{% endblock %}

{% block css %}
	{{ super() }}
	<link rel='stylesheet' href={{ url_for('static', filename='node_modules/font-awesome/css/font-awesome.min.css') }} />
	<link rel='stylesheet' href={{ url_for('static', filename='assets/css/jquery.bxslider.css') }} />
	<link rel='stylesheet' href={{ url_for('static', filename='assets/css/style.css') }} />

	<script src={{ url_for('static', filename='node_modules/jquery/dist/jquery.js') }}></script>
	<script src={{ url_for('static', filename='node_modules/jquery.easing/jquery.easing.js') }}></script>
	<script src={{ url_for('static', filename='node_modules/bxslider/dist/jquery.bxslider.min.js') }}></script>
	<script src={{ url_for('static', filename='assets/js/functions.js') }}></script>
<!-- 	<script src={{ url_for('static', filename='node_modules/jquery/dist/jquery-2.1.1.js') }}></script>
 -->

{% endblock %}



{% block content %}
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
	
	{% set title = "BakerRipley Caregiver Homepage" %}
	{% set description = "Text tbd" %}
	{% include 'header.html' %}

   <!--CHANGE IMAGES! -->
<!-- 	<div class="slider">
		<ul class="bxslider">				
			<li><img src={{ url_for('static', filename='assets/images/slider/1.jpg') }} alt=""/></li>
			<li><img src={{ url_for('static', filename='assets/images/slider/1.jpg') }} alt=""/></li>
			<li><img src={{ url_for('static', filename='assets/images/slider/1.jpg') }} alt=""/></li>	
		</ul>
    </div> -->
	
	<div class="container">
		<div class="text-center">
			<h3>Connecting You to What You Need</h3>
		</div>
	
		
		<div class="row">
				<div class="col-md-4 box">
					<i class="fa fa-calendar fa-3x"></i>
					<h4>Calendar of Events</h4>
				</div>
		
				<div class="col-md-4 box">
					<i class="fa fa-check-circle fa-3x"></i>
					<h4>Caregiver Assesment Tool</h4>
				</div>
		
				<div class="col-md-4 box">
					<i class="fa fa-heart-o fa-3x"></i>
					<h4>Resource Finder</h4>
				</div>
		</div>

		<div class="row">
			<div class="col-md-4 box">
				<i class="fa fa-bell fa-3x"></i>
				<h4>Updates and News</h4>
			</div>

			<div class="col-md-4 box">
				<i class="fa fa-search-plus fa-3x"></i>
				<h4>Local Resource Finder</h4>
			</div>

			<div class="col-md-4 box">
				<i class="fa fa-compass fa-3x"></i>
				<h4>National Resource Finder</h4>
			</div>
		</div>


	</div>


	<!-- keeping for spacing -->
	<div class="about-us">
		<div class="container">
			<div class="text-center">
				<!-- leave blank --> 
			</div>	
		</div>
	</div>
	<!-- keeping for spacing -->

	<footer>
		<div class="footer">
			<div class="container">
			</div>
		</div>
	</footer>
	
  </body>
  {% endblock %}
</html>