{% extends "base.html" %}

{% block title %}
BakerRipley Homepage
{% endblock %}

{% block css %}
	{{ super() }}
	<link rel='stylesheet' href={{ url_for('static', filename='node_modules/font-awesome/css/font-awesome.min.css') }} />
	<link rel='stylesheet' href={{ url_for('static', filename='assets/css/jquery.bxslider.css') }} />
	<link rel='stylesheet' href={{ url_for('static', filename='assets/css/style.css') }} />

	<script src={{ url_for('static', filename='node_modules/jquery/dist/jquery.js') }}></script>
	<script src={{ url_for('static', filename='assets/js/index.js') }}></script>
	<script src={{ url_for('static', filename='node_modules/jquery.easing/jquery.easing.js') }}></script>
	<script src={{ url_for('static', filename='node_modules/bxslider/dist/jquery.bxslider.min.js') }}></script>
	<script src={{ url_for('static', filename='assets/js/functions.js') }}></script>
<!-- 	<script src={{ url_for('static', filename='node_modules/jquery/dist/jquery-2.1.1.js') }}></script>
 -->

{% endblock %}



{% block content %}
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body style="background-color:#f9f9f9;">
	
	{% set title = "BakerRipley Caregiver Homepage" %}
	{% set description = "Text tbd" %}
	{% include 'header.html' %}

	
<div class="container">
	<div class="row">
		<div class="col-md-4 py-2">
            <a class="card h-100 box" href="/calendar">
            	<div class="card-body">
                	<i onclick="window.location='/calendar';" class="fa fa-calendar fa-4x"></i>
					<h5 class="card-title mt-3">Calendar of Events</h5>
					<p class="card-text">Find events in the Houston area.</p>	                
                </div>
            </a>
        </div>
        <div class="col-md-4 py-2">
            <a class="card h-100 box" href="/assessment">
                <div class="card-body">
                    <i onclick="window.location='/assessment';" href= "calendar.html" class="fa fa-check-circle fa-4x"></i>
					<h5 class="card-title mt-3">Caregiver Assessment Tool</h5>
					<p class="card-text">New to caregiving and don't know where to start? Answer this brief questionnaire! </p>
				</div>

            </a>
        </div>
        <div class="col-md-4 py-2">
            <a class="card h-100 box" href="/assessment">
            	<div class="card-body">
                	<i onclick="window.location='/assessment';" href= "calendar.html" class="fa fa-check-circle fa-4x"></i>
					<h5 class="card-title mt-3">Caregiver Assessment Tool</h5>
					<p class="card-text">New to caregiving and don't know where to start? Answer this brief questionnaire! </p>
				</div>
            </a>
        </div>
    </div>

    <div class="row">
		<div class="col-md-4 py-2">
            <a class="card h-100 box" href="/connections">
            	<div class="card-body">
                	<i onclick="window.location='/connections';" class="fa fa-bell fa-4x"></i>
					<h5 class="card-title mt-3">Connections</h5>
					<p class="card-text">Talk to someone about caregiving online or in person.</p>
				</div>
            </a>
        </div>
        <div class="col-md-4 py-2">
            <a class="card h-100 box" href="/local-resources">
                <div class="card-body">
                    <i onclick="window.location='/local-resources';" class="fa fa-search-plus fa-4x"></i>
					<h5 class="card-title mt-3">Local Resource Finder</h5>
					<p class="card-text">Caregiving resources from the Houston area.</p>
				</div>
            </a>
        </div>
        <div class="col-md-4 py-2">
            <a class="card h-100 box" href="/national-resources">
            	<div class="card-body">
                	<i onclick="window.location='/national-resources';" class="fa fa-compass fa-4x"></i>
					<h5 class="card-title mt-3">National Resources</h5>
					<p class="card-text">Additional links to national associations related to caregiving.</p>
				</div>
            </a>
        </div>
    </div>

</div>


	<!-- keeping for spacing -->
	<div class="about-us">
		<div class="container">
			<div class="text-center">
				<!-- leave blank --> 
			</div>	
		</div>
	</div>
	<!-- keeping for spacing -->

	<footer>
		<div class="footer">
			<div class="container">
			</div>
		</div>
	</footer>
	
  </body>
  {% endblock %}
</html>