{% extends "base.html" %}

{% block title %}
Valid Link Checker
{% endblock %}


{% block css %}
    {{ super() }}
{% endblock %}



{% block content %}

<div class='container'>
	{%for template in mapping%}
		{% if mapping[template]['working']|length > 0 %}
			<div class=''>
				<h3 style='color:green;'> Working Links in {{template}}</h4>
				{% for link in mapping[template]['working'] %}
				<a style='font-size:20px' href="{{link}}" >
					{{link}}
				</a>
				<br>
				{% endfor %}
			</div>
		{% endif %}

		{% if mapping[template]['notWorking']|length > 0 %}
			<div class=''>
				<h3 style='color:red'> Non-Working Links in {{template}} </h4>
				<br>
				{% for link in mapping[template]['notWorking'] %}
				<a style='font-size:20px' href="{{link}}" >
					{{link}}
				</a>
				{% endfor %}
			</div>
		{% endif %}
	{% endfor %}
</div>




{% endblock %}

{% block js %}
    <script src={{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}></script>
    <script src={{ url_for('static', filename='node_modules/jquery-ui-dist/jquery-ui.min.js') }}></script>
    <script src={{ url_for('static', filename='node_modules/tag-it/js/tag-it.min.js') }}></script>
    {{ super() }}
{% endblock %}