<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="news.js"></script>
    <link href="news.css" rel="stylesheet" type="text/css"/>
</head>
<body>
	<header class="header">
		<h1>News and Updates</h1>
	</header>

	<main class="main columns">
		<section class="column main-column">
			<a class="article first-article" href="#">
				<figure class="article-image is-4by3">
					<img src="family-1.jpeg" alt="">
				</figure>
				<div class="article-body">
					<h2 class="article-title"> News Story Name </h2>
					<p class="article-content">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros.
					</p>
					<footer class="article-info">
						<span>Author</span>
						<span>Feb 23, 2018</span>
					</footer>
				</div>
			</a>

			<div class="columns">
				<div class="column nested-column">
					<a class="article" href="#">
						<figure class="article-image is-16by9">
							<img src="family-2.jpeg" alt="">
						</figure>
						<div class="article-body">
							<h2 class="article-title"> News Story Name </h2>
							<p class="article-content">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
							</p>
							<footer class="article-info">
								<span>Author</span>
								<span>Feb 23, 2018</span>
							</footer>
						</div>
					</a>
				</div>
				<div class="column">
					<a class="article" href="#">
						<figure class="article-image is-16by9">
							<img src="family-3.jpeg" alt="">
						</figure>
						<div class="article-body">
							<h2 class="article-title"> News Story Name </h2>
							<p class="article-content">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							</p>
							<footer class="article-info">
								<span>Author</span>
								<span>Feb 23, 2018</span>
							</footer>
						</div>
					</a>
					<a class="article" href="#">
						<div class="article-body">
							<h2 class="article-title"> News Story Name </h2>
							<p class="article-content">
								Lorem ipsum dolor sit amet.
							</p>
							<footer class="article-info">
								<span>Author</span>
								<span>Feb 23, 2018</span>
							</footer>
						</div>
					</a>
					<a class="article" href="#">
						<div class="article-body">
							<h2 class="article-title"> News Story Name </h2>
							<p class="article-content">
								Lorem ipsum dolor sit amet feugiat facilisis.
            				</p>
            				<footer class="article-info">
            					<span>Author</span>
            					<span>Feb 23, 2018</span>
            				</footer>
            			</div>
            		</a>
            	</div>
            </div>
        </section>

        <section class="column">
    		<a class="article" href="#">
    			<figure class="article-image is-3by2">
    				<img src="family-4.jpeg" alt="">
    			</figure>
    			<div class="article-body">
    				<h2 class="article-title"> News Story Name </h2>
    				<p class="article-content">
    					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        			</p>
        			<footer class="article-info">
        				<span>Author</span>
        				<span>Feb 23, 2018</span>
        			</footer>
        		</div>
        	</a>
        	<a class="article" href="#">
        		<div class="article-body">
        			<h2 class="article-title"> News Story Name </h2>
        			<p class="article-content">
        				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        			</p>
        			<footer class="article-info">
        				<span>Author</span>
        				<span>Feb 23, 2018</span>
        			</footer>
        		</div>
        	</a>
        	<a class="article" href="#">
        		<div class="article-body">
        			<h2 class="article-title"> News Story Name </h2>
        			<p class="article-content">
        				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        			</p>
        			<footer class="article-info">
        				<span>Author</span>
        				<span>Feb 23, 2018</span>
        			</footer>
        		</div>
        	</a>
        	<a class="article" href="#">
        		<div class="article-body">
        			<h2 class="article-title"> News Story Name </h2>
        			<p class="article-content">
        				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        			</p>
        			<footer class="article-info">
        				<span>Author</span>
        				<span>Feb 23, 2018</span>
        			</footer>
        		</div>
        	</a>
        </section>
    </main>
</body>
</html>