{% extends "base.html" %}

{% block title %}
BakerRipley Respite Resource
{% endblock %}

{% block css %}
    {{ super() }}
    <link rel='stylesheet' href={{ url_for('static', filename='assets/css/general-resource.css') }} />
{% endblock %}

{% block content %}

{% set title = "Respite: How to Take a Break" %}
{% include 'header.html' %}

<div class="resource-intro-container">
    <p class="resource-intro-text">
        Caregiving is like any other job or role. Sometimes you just need to take a break from it to get some rest and relaxation. When caregiving, this is often referred to as respite. There are different types of respite and different resources available to help you find it.
    </p>
</div>
<div class="fake-media"></div>
<div class="resource-content-container">
    <h1>Types of respite: Respite can be provided in a variety of ways.</h1>
    <p>
        <strong>
            1) In-home:
        </strong>
        These respite care services are provided in the home and usually scheduled for 4-6 hours. The services include: Companion services, personal care services, homemaker services, skilled care services.
    </p>
    <p>
        <strong>
            2) Adult Day programs:
        </strong>
        Adult Day Centers provide care outside of the home and is designed to provide a social outlet for participants. Daily activities include: music, recreation, exercise, support and some medical services. These services are usually offered Monday-Friday during normal business hours.
    </p>
    <p>
        <strong>
            3) Residential:
        </strong>
        Sometimes a few hours isn’t enough. In these instances a stay in a residential facility overnight for a few days or weeks may be needed. These services are usually provided in long term care facilities.
    </p>
    <p>
        <strong>
            4) Informal respite:
        </strong>
        Often times family members, friends, and neighbors offer to help out, giving the caregiver time to run to the store or just take break. Keep in mind people who have offered to help and reach out to them when needed.
    </p>

    <h1>Respite Provider Search</h1>
    <p>
        The Texas Health and Human Services Long-term Care Provider Search tool can be used to locate respite providers near you. The search engine can be filtered by county and the type of services needed. The tool can be accessed <a href="https://apps.hhs.texas.gov/ltcsearch/providersearch.cfm">here.</a>
    </p>
    <h1>Resources available to pay for respite</h1>
    <p>
        Sometimes the cost of respite can be a barrier to getting a much needed break. Here are some resources to consider, when private pay is not an option.
    </p>
    <p>
        <strong>
           Veterans Benefits:
        </strong>
        If you are caring for a veteran, you may be eligible for <a href="https://www.caregiver.va.gov/Care_Veterans.asp">respite services through the Veterans Administration.</a> This care can be offered in home, residential care or an adult day health program.
    </p>
    <p>
        <strong>
           Harris County Area Agency on Aging
        </strong>
        offers assist with in home and adult day programs.
    </p>
    <p>
        <strong>
           Care Connection Aging and Disability Resource Center
        </strong>
        administers the Texas LifeSpan Respite Care Program. Services are specific to the need of each caregiver and can be in the form of in-home, residential or adult day programs.
    </p>
</div>


{% endblock %}
