{% extends "base.html" %}

{% block css %}
  {{ super() }}
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
{% endblock %}

{% set title = "Caregiver Assessment" %}
{% set description = "Answer a few questions to receive personalized resource recommendations." %}
{% include 'header.html' %}

{% block content %}
  <div class="modal-wrap">
    <div class="modal-header">
      <span class="is-active"></span>
      {% for n in range(questions|length - 1) %}
        <span></span>
      {% endfor %}
    </div>
    <div class="modal-bodies">

    {% for question in questions %}
      <div class="modal-body {{ loop.first and 'is-showing' }}">
        <div class="title">Step {{ loop.index }}</div>
        <div class="description" id="question">{{ question["description"] }}</div>
        <!-- the question_id is the id of the resource that corresponds to a "yes" answer for non-multiple questions -->
        <div class="q_id" id="{{ question.question_id }}" style="display:none;"></div>
        <form class="{{ question.ismultiple and 'is-multiple' }}">
          <div>
            {% for option in question["options"] %}
              <label>
                <input class="{{ question.ismultiple and 'is-multiple' }}" type="radio" value="{{ option['val'] }}"/>{{ option["text"] }}
              </label>
            {% endfor %}
          </div>
          <div class="text-center fade-in">
            <div class="button">{{ "Submit" if loop.last else "Next" }}</div>
          </div>
        </form>
      </div>
    {% endfor %}
    </div>
  </div>
{% endblock %}

  
{% block js %}
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
  {{ super() }}
{% endblock %}

