{% extends "base.html" %}

{% block css %}
  {{ super() }}
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
{% endblock %}

{% block content %}
  <div class="modal-wrap">
    <div class="modal-header"><span class="is-active"></span><span></span><span></span></div>
    <div class="modal-bodies">

    <!-- Opening screen -->
    <div class="modal-body modal-body-step-1 is-showing">
      <div class="title"></div>
      <div class="description">Hello there, Let's play a game.</div>
      <form>
        <div class="text-center">
          <div class="button">Start</div>
        </div>
      </form>
    </div>

    {% for question in questions %}
      <div class="modal-body">
        <div class="title">Step {{ loop.index }}</div>
        <div class="description">{{ question["description"] }}</div>
        <form>
          <div>
            {% for option in question["options"] %}
              <label>
                <input type="radio" name="{{ option['name'] }}"/>{{ option["text"] }}
              </label>
            {% endfor %}
          </div>
          <div class="text-center fade-in">
            <div class="button">{{ question["button_text"] }}</div>
          </div>
        </form>
      </div>
    {% endfor %}
    </div>
  </div>
{% endblock %}

  
{% block js %}
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
  {{ super() }}
{% endblock %}

