#calendarRow {
	padding-top: 100px;
	padding-left: 45px;
	padding-right: 30px;
	padding-bottom: 40px;
}

/*.container {
	margin: 0px;
}*/

#calendar {
	height:100%;
	font-family: 'Lato', sans-serif;
}

#eventCol {
	border: 0.75px solid black;
	background-color: #f7f7f7;
	border-radius: 8px;
}

#event-info {
	font-family: 'Roboto Condensed', sans-serif;
}

#title {
	padding-top: 10px;
	font-size: 24pt;
	font-family: 'Roboto Condensed', sans-serif;
}

#title a {
	text-transform: uppercase;
	text-decoration: none;
    font-weight: 800;
	color: #ca6015;
}

#title a:hover {
	opacity: 0.70;
}

#dateTime {
	margin-top: -4px;
	font-size: 11.5pt;
	color: #6b6b6b;

}

#location {
	margin-top: -18px;
	font-size: 11.5pt;
	color: #6b6b6b;
}

#description {
	font-size: 15pt;
	color: #474747;
	font-family: 'Lato', sans-serif;
}