@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
@import url(https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css);

html,
body {
  margin: 0;
}

.homepage {
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: left;
  -webkit-animation: slide 40s ease;
  transform: translate3d(0,0,0);
  height: 100vh;
}

.homepage:before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(214,119,84,.8);
}

.homepage__content {
  z-index: 101;
  position: relative;
}

@-webkit-keyframes slide {
  0%   { background-position: left; }
  50%   { background-position: right; }
  100% { background-position: left; }
}

.homepage h1 {
  text-align: center;
  font-size: 60px;
  font-weight: 100;
  color: white;
  margin: 0;
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
}

.homepage h2 {
  text-align: center;
  font-size: 25px;
  font-weight: 90;
  color: white;
  margin: 0;
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
}

.homepage__content {
    padding: 100px 100px;
    max-width: 1000px;
}

.nav {
  background: #1d9fc6;
  color: white;
  text-decoration: none;
  padding: 50px 20px;
  margin: 30px 30px;
  border-radius: 3px;
  font-size: 20px;
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  width: 20%;
}

.nav:hover {
  background: #1da8d3;
  background-image: -webkit-linear-gradient(top, #1da8d3, #1d9fc6);
  background-image: -moz-linear-gradient(top, #1da8d3, #1d9fc6);
  background-image: -ms-linear-gradient(top, #1da8d3, #1d9fc6);
  background-image: -o-linear-gradient(top, #1da8d3, #1d9fc6);
  background-image: linear-gradient(to bottom, #1da8d3, #1d9fc6);
  text-decoration: none;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

