html,
body {
  height: 100%;
  margin: 0
}

.content {
  display: flex;
  flex-flow: column;
}

.searchBarContainer {
  margin-top: -2rem;
  flex: 0 1 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.awesomplete {
  width: 50%;
}

.searchBar {
  width: 100%;
  padding: 5px;
  outline: none;
  border: 1px solid #aaaaaac7;
}

.resourcesResultsContainer {
  background-color: #CA602E;
  flex: 1 1 auto;
}

.resourceResults {
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
}

.resultColumn {
  flex: 1 0 33.33%;
  max-width: 33.33%;
}

.orangeText {
  color: #CA602E;
}

h3 {
  font-size: 2rem;
}

.resultPanel {
  background: white;
  margin: 15px;
  min-height: 300px;
  border-radius: 8px;
  color: #696969;

  /* This stuff is for centering the text vertically */
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
  padding: 5px;
}

.keywordTags {
  margin: 0px 10px;
  /*margin-top: 30px;*/
}

.keywordTag {
  color: #fff;
  background-color: #337ab7;
  border-radius: 4px;
  padding: 5px 5px;
  margin: 5px 5px;
  display: inline-block;
}

a {
  text-decoration: none !important;
}
