body {
	font-family: 'Roboto Condensed', sans-serif !important;
}

.row {
	margin-top: 15px;
	margin-bottom: 15px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
	color:white;
	background-color: #ca6015;
	border-radius: 8px;
	text-align: left;
}

.row:hover {
	opacity: .85;
}

.nounderline {	
	text-decoration: none !important;
	color: white;
}

.nounderline a:hover {
	opacity: .40;
}

.nounderline h2{	
	font-family: 'Roboto Condensed', sans-serif !important;
	font-weight: 600;
	font-size: 28pt;
}

.nounderline p{	
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 15pt;
	font-style: italic;
	color: #fafafa;
}


