@font-face {
	font-family: 'Rajdhani-Regular';
	src: url(/static/assets/fonts/Rajdhani-Regular.ttf);
}

body {
	font-family: 'Rajdhani-Regular';
}

.row {
	margin-top: 15px;
	margin-bottom: 15px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
	color:white;
	background-color: #ca6015;
	border-radius: 8px;
	text-align: left;
}

@media only screen and (max-width: 1500px) and (min-width: 800px){
	.row-padding {
		margin-left: 10%;
		margin-right: 10%;
	}
}

.row:hover {
	opacity: .85;
}

.nounderline {	
	text-decoration: none !important;
	color: white;
}

.nounderline a:hover {
	opacity: .40;
}

.nounderline h2{	
	font-weight: 800;
	font-size: 30pt;
}

.nounderline p{	
/*	font-family: 'Lato', sans-serif;
*/	font-weight: 350;
	font-size: 15.5pt;
	font-style: italic;
	color: #fafafa;
}


